.header {
  padding: 24px 0 90px 0;
}

.header__grid {
  display: grid;
  grid-template-columns: minmax(190px, 293px) minmax(151px, 230px) minmax(700px, 757px) minmax(350px, 431px) ;
  grid-template-rows: 61px;
  place-items: center start;
  gap: 20px;
}

.header__logo {
  padding-top: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  letter-spacing: 0.06em;
}

span {
  color: var(--blue-color);
}

.header__menu-btn {
  display:flex;
  width: 151px;
  height: 54px;
  padding: 15px 30px;
  background: var(--blue-color);
  border: none;
  border-radius: 10px;
}

.header__menu-burger {
  margin:0;
  margin-right: 7px;
}

.header__menu-text {
  color: var(--white-color);
}

.header__search {
  display: grid;
  width: 100%;

}

.header__search-input {
  width: 100%;
  height: 54px;
  padding-left: 40px;
  background: var(--white-grey-color);
  border: none;
  border-radius: 30px;

  font-size: 16px;
  line-height: 21px;
  color: var(--light-grey-color);

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header__search-btn {
  width: 101px;
  height: 54px;
  padding: 9px 33px;
  background-color: var(--blue-color);
  border: none;
  border-radius: 30px;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: end;
}

.header__icons { 
  place-self: start end;
  display: flex;
  gap: 70px;
}

.header__icons-img {
  width: 36px;
  height: 36px;
  margin: 0 auto 6px;
}

.header__icons-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: 1820px) {

  .header__icons { 
    gap: 60px;
  }
}