.header {
  padding: 24px 0 90px 0;
}

.header__grid {
  display: grid;
  grid-template-columns: minmax(190px, 293px) minmax(151px, 230px) minmax(700px, 757px) minmax(350px, 431px) ;
  grid-template-rows: 61px;
  place-items: center start;
  gap: 20px;
}

.header__logo {
  padding-top: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  letter-spacing: 0.06em;
}

span {
  color: var(--blue-color);
}

.header__menu-btn {
  display:flex;
  width: 151px;
  height: 54px;
  padding: 15px 30px;
  background: var(--blue-color);
  border: none;
  border-radius: 10px;
}

.header__menu-burger {
  margin:0;
  margin-right: 7px;
}

.header__menu-text {
  color: var(--white-color);
}

.header__search {
  display: grid;
  width: 100%;
}

.header__search-input {
  width: 100%;
  height: 54px;
  padding-left: 40px;
  background: var(--white-grey-color);
  border: none;
  border-radius: 30px;

  font-size: 16px;
  line-height: 21px;
  color: var(--light-grey-color);

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header__search-btn {
  width: 101px;
  height: 54px;
  padding: 9px 33px;
  background-color: var(--blue-color);
  border: none;
  border-radius: 30px;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: end;
}

.header__icons { 
  place-self: start end;
  display: flex;
  gap: 70px;
}

.header__icons-img {
  width: 36px;
  height: 36px;
  margin: 0 auto 6px;
}

.header__icons-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: 1820px) {

  .header__icons { 
    gap: 60px;
  }
}

@media (max-width: 1520px) {
  .header__grid {
    grid-template-columns: minmax(190px, 293px) minmax(151px, 230px) minmax(500px, 757px) minmax(350px, 431px) ;
    gap: 10px;
  }
}

@media (max-width: 1520px) {
  .header__grid {
    grid-template-columns: minmax(190px, 293px) minmax(151px, 230px) minmax(500px, 757px) minmax(350px, 431px) ;
    gap: 10px;
  }
}

@media (max-width: 1280px) {

  .header__grid {
    grid-template-columns: minmax(165px, 190px) minmax(377px, 650px) minmax(221px, 294px);
    grid-template-rows: 61px 54px;
    place-items: center start;
    gap: 35px 39px;
  }

  .header__menu-btn {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .header__search {
    grid-column: 2/4;
    grid-row: 2/3;
    max-width: 700px;
    place-self: end;
  }

  .header__icons { 
    grid-column: 3/4;
    grid-row: 1/2;
    gap: 40px;
  }
}

@media (max-width: 1024px) {

  .header {
    padding: 34px 0 60px 0;
  }

  .header__grid {
    grid-template-columns: minmax(165px, 190px) minmax(204px, 376px) minmax(221px, 294px);
  }
}

@media (max-width: 768px) {

  .header {
    padding: 28px 0 50px 0;
  }

  .header__grid {
    grid-template-columns: minmax(114px, 130px) minmax(100px, 284px) minmax(130px, 250px);
    grid-template-rows: 56px 42px;
    gap: 29px;
  }

  .header__logo {
    grid-column: 1/3;
    font-size: 26px;
    line-height: 35px;
  }

  .header__menu-btn {
    
    max-width: 115px;
    height: 42px;
    padding: 7px 21px;
    border-radius: 6px;
  }
  
  .header__menu-burger {
    margin:0;
    margin-right: 7px;
  }
  
  .header__menu-text {
    font-size: 16px;
    line-height: 24px;
  }

  .header__search {
    grid-column: 2/4;
    place-self: end;
  }

  .header__search-input {
    max-width: 540px;
    height: 42px;
    padding: 11px 0 15px 30px;
  
    font-size: 12px;
    line-height: 16px;

    place-self: end;
  }

  .header__search-btn {
    width: 82px;
    height: 42px;
    padding: 6px 26px;
  }

  .header__search-img {
    width: 30px;
    height: 30px;
  }

  .header__icons { 
    place-self: end;
    gap: 30px;
  }

  .header__icons-img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  
  .header__icons-text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 480px) {

  .header__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 56px repeat(2, 42px);
    gap: 20px;
  }
  
  .header__search {
    grid-column: 1/4;
    grid-row: 3/4;
    place-self: end;
  }

  .header__icons { 
    grid-column: 2/4;
    grid-row: 2/3;
    place-self: center end;
    gap: 20px;
  }

  .header__icons-img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  
  .header__icons-text {
    display: none;
  }
}

