  .promo__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 480px repeat(4, 245px);
    gap: 60px;
    margin-bottom: 189px;
    color: var(--white-color);
    grid-template-areas: 
    "banner banner banner banner banner banner"
    "book clock second-pair second-pair gifts gifts"
    "sneakers sneakers second-pair second-pair laptop laptop"
    "new-year new-year new-year new-year dress clean"
    "new-year new-year new-year new-year dress balls";

  }

  li {
    position: relative;
  }
  
  .promo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .promo__banner { 
    grid-area: banner;
  }

  .promo__banner-text {
    position: absolute;
    top: 152px;
    left: 110px;
    font-weight: 700;
    font-size: 70px;
    line-height: 91px;
  } 

  .timer__title {
    position: absolute;
    left: calc(50% - 62px);
    top: 339px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
  
  .timer__wrapper {
    display: flex;
    position: absolute;
    left: calc(50% - 236.5px);
    top: 368px;
    gap: 30px;
  }
  
  .timer__value {
    display: flex;
    gap: 6px;
    align-items: baseline;
  }
  
  .timer__number {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
  }
  
  .timer__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }

  .promo__book {
    grid-area: book;
  }

  .book__text {
    position: absolute;
    top: 97px;
    left: 20px;
  }
    
  .book__text-top {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }
  
  .book__text-bottom {
    font-size: 30px;
    line-height: 39px;
  }

  .promo__clock {
    grid-area: clock;
  }

  .clock__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
  }
  
  .clock__title {
    position: absolute;
    top: 78px;
    left: 14px;
  }
  
  .clock__discount {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .circle {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--yellow-color);
    text-align: center;
    padding-top: 24px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
  }

  .promo__second-pair {
    grid-area: second-pair;
  }

  .second-pair__text {
    position: absolute;
    max-width: 510px;
    height: 178px;
    left: 20px;
    right: 20px;
    bottom: 22px;
    padding: 26px 23px;
    background: var(--light-blue-color);
    border-radius: 20px;
  }
  
  .second-pair__text-top {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 6px;
  }
    
  .second-pair__text-bottom {
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
  }

  .promo__gifts {
    grid-area: gifts;
  }

  .gifts__text {
    position: absolute;
    top: 104px;
    left: 30px;
    white-space: pre-line;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .promo__sneakers {
    grid-area: sneakers;
  }

  .sneakers__discount {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .promo__laptop {
    grid-area: laptop;
  }

  .laptop__title {
    position: absolute;
    bottom: 30px;
    left: 30px;

    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-right: 10px;
    }

    .laptop__discount {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

  .promo__new-year {
    grid-area: new-year;
  }

  .new-year__text {
    max-width: 643px;
    height: 115px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 32px 41px;
    position: absolute;
    left: 50px;
    top: 385px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;

    color: var(--red-color);
  }

  .promo__dress {
    grid-area: dress;
  }

  .dress__discount {
    position: absolute;
    right: 20px;
    bottom: 20px;

  }

  .promo__clean {
    grid-area: clean;
  }

  .clean__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 20px;
    gap: 39px;
  }

  .clean__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
  }

  .promo__balls {
    grid-area: balls;
  }

@media (max-width: 1740px) {

  .clock__text {
    font-size: 28px;
    line-height: 37px;
  }

  .second-pair__text {
    bottom: 20px;
    height: 168px;
  }

  .second-pair__text-top {
    font-size: 36px;
    line-height: 39px;
    margin-bottom: 6px;
  }
    
  .second-pair__text-bottom {
    font-size: 50px;
    line-height: 61px;
  }

  .laptop__title {
    bottom: 35px;
    font-size: 36px;
    line-height: 39px;
    }
} 


@media (max-width: 1600px) {

  .promo__list {
    gap: 48px;
  }

  .book__text-top {
    font-size: 36px;
    line-height: 48px;
  }
  
  .book__text-bottom {
    font-size: 28px;
    line-height: 36px;
  }

  .clock__text {
    font-size: 26px;
    line-height: 36px;
  }

  .clock__discount {
    bottom: 15px;
  }

  .second-pair__text {
    height: 168px;
  }

  .second-pair__text-top {
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 6px;
  }
    
  .second-pair__text-bottom {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
  }

  .laptop__title {
    bottom: 20px;
    max-width: 200px;
    font-size: 32px;
    line-height: 41px;
    } 

    .clean__title {
      font-size: 26px;
      line-height: 34px;
    }
}

@media (max-width: 1280px) {

  .promo__list {
    gap: 30px;
  }

  .book__text-top {
    font-size: 33px;
    line-height: 40px;
  }
  
  .book__text-bottom {
    font-size: 25px;
    line-height: 31px;
  }

  .second-pair__text-top {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 4px;
  }
    
  .second-pair__text-bottom {
    font-size: 42px;
    line-height: 44px;
  }

  .gifts__text {
    font-size: 36px;
    line-height: 48px;
  }

  .new-year__text {
    max-width: 643px;
    font-size: 33px;
    line-height: 48px;
}
}

@media (max-width: 1024px) {

  .promo__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 314px repeat(4, 217px) 418px;
    gap: 24px;
    margin-bottom: 106px;
    grid-template-areas: 
    "banner banner banner banner"
    "book clock second-pair second-pair"
    "sneakers sneakers second-pair second-pair"
    "gifts gifts dress clean"
    "laptop laptop dress balls"
    "new-year new-year new-year new-year";
  }

  .promo__img {
    border-radius: 16px;
  }

  .promo__banner-text {
    max-width: 401px;
    top: 83px;
    left: 80px;
    font-size: 40px;
    line-height: 52px;
  } 

  .timer__title {
    position: absolute;
    left: calc(50% - 62px);
    top: 195px;
  }
  
  .timer__wrapper {
    display: flex;
    position: absolute;
    left: calc(50% - 153px);
    top: 229px;
    gap: 20px;
  }
  
  .timer__value {
    gap: 5px;
  }
  
  .timer__number {
    font-size: 40px;
    line-height: 52px;
  }
  
  .timer__text {
    font-size: 20px;
    line-height: 26px;
  }

  .book__text {
    top: 123px;
    left: 9px;
  }
    
  .book__text-top {
    font-size: 30px;
    line-height: 39px;
  }
  
  .book__text-bottom {
    font-size: 24px;
    line-height: 31px;
  }

  .clock__text {
    font-size: 24px;
    line-height: 31px;
  }
  
  .clock__title {
    top: 58px;
    left: 9px;
  }
  
  .clock__discount {
    top: 117px;
    right: 10px;
  }

  .second-pair__text {
    max-width: 414px;
    height: 146px;
    top: 289px;
    left: 22px;
    right: 22px;
    padding: 29px 25px;
  }
  
  .second-pair__text-top {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 4px;
  }
    
  .second-pair__text-bottom {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }

  .sneakers__discount {
    top: 8px;
    left: 10px;
  }

  .gifts__text {
    top: 110px;
    left: 20px;
    font-size: 30px;
    line-height: 39px;
  }

  .laptop__text {
    left: 20px;
    right: 10px;
    top: 117px;
    gap: 5px;
  }

  .laptop__title {
    padding-top: 40px;
    font-size: 30px;
    line-height: 39px;
    }

  .dress__discount {
    top: 358px;
    right: 10px;
  }

  .clean__text {
    left: 10px;
    top: 8px;
    gap: 79px;
  }

  .clean__title {
    font-size: 20px;
    line-height: 26px;
  }

  .new-year__text {
    max-width: 513px;
    height: 83px;
    
    border-radius: 16px;
    padding: 24px 46px;
    left: 30px;
    top: 296px;
    font-size: 30px;
    line-height: 36px;
  }
}