:root {
  --white-color:#ffffff;
  --white-grey-color: #EFEFEF;
  --light-blue-color: #38C0EB;
  --blue-color: #3670C7;
  --yellow-color: #FFBD13;
  --red-color: #F91155;
  --light-grey-color: #8F8F8F;
  --gray-color: rgb(82, 82, 82);
  --dark-grey-color: #2D2D2D;
}